.loginForm {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    padding: 20px;
    width: 300px;

}

.bodyCo{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 20px;
    height: 100%;
    width: 100%;
    overflow: hidden;

}

.loginForm label {
    display: block;
    margin-bottom: 10px;
}

.loginForm input {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.signupForm {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    padding: 20px;
    width: 300px;
}

.signupForm label {
    display: block;
    margin-bottom: 10px;
}

.signupForm input {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

body{
    min-height: 100vh;
    position: relative;
}