header {
    background: #101D42;
    width: 100%;
    height: 25%;
    top: 0;
    left: 0;
}


main{
    background: #d3f0ff;
    height: 50%;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 100px;
}

#panelAdmin{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#panelAdmin>.adminButton{
    border-radius: 30px;
    margin: 4px 2px;
    padding: 10px 20px;
    text-align: center;
    background-color: #101D42;
    cursor: pointer;
    color: white;
}

.cardImage {
    height: 50%;
    max-width: 70%;
}
#articleDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
}

#colonneGauche{
    padding: 2%;
    flex-grow: 2;
    margin: auto 0;
    border: 10px inset #101D42 ;
    max-width: 30%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#acheter{
    padding: 2%;
    border: 10px inset #101D42 ;
    max-width: 30%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#description {
    padding: 2%;
    flex-grow: 2;
    border: 10px inset #101D42 ;
    max-width: 30%;
    border-radius: 30px;
}

#colonneGauche>img{
    width: 100%;
}

nav {
    align-items: center;
    display: flex;
    justify-content: center;
}

nav > * {
    padding: 1px;
}

footer{
    background: #101D42;
    width: 100%;
    height: 25%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.foot-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.foot-container * {
    padding: 1px;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.foot-container li {
    list-style: none;
}

.foot-container a {
    text-decoration: none;
    color: white;
;
}

.foot-container h2 {
    font-size: larger;
}

.foot-container > * {
    padding: 10px 20px;
}

.foot-container > div > * {
    padding: 10px 0px 10px 0px;
}

.foot-bottom{
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

.logomini {
    width: 50px;
    height: 70px;
}

.foot-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding: 10px 0 0 20px;
}

.foot-left ul {
    padding: 10px 0 10px 0;
}

.card {
    border-radius: 5px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.395);
    margin: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(rgb(238, 202, 102), rgb(241, 151, 87));
}

.card:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.795);
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.pack{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.pack>a{
    text-decoration: none;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

/* Clickable cards */
.cards a {
    text-decoration: none;
    color: black;
}

.coinIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
}

nav .search {
    padding: 1px;
}
h1 > .coinIcon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    top: 5px;
}

#formPanier> .button{
    border-radius: 30px;
    margin: 4px 2px;
    padding: 10px 20px;
    text-align: center;
    background-color: #101D42;
    cursor: pointer;
    color: white;
}

#formPanier> .button:hover{
    background-color: #639FAB;
}

.payForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.payButton {
    border-radius: 30px;
    margin: 4px 2px;
    padding: 10px 20px;
    text-align: center;
    background-color: #101D42;
    cursor: pointer;
    color: white;
}
.connect {
    background-color: #639FAB;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    scale: 0.8;
}

.connect > * {
    padding: 1px;
}

.connect > span {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    padding-right: 10px;
}

.cart {
    background-color: #639FAB;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    scale: 0.8;
}

.adminButton {
    background-color: #639FAB;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    scale: 0.8;
}

.cart > * {
    padding: 1px;
}

.cart > span {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    padding-right: 10px;
}

.connectImage {
    scale: 0.75;
}

.cartImage {
    scale: 0.75;
}





/* Amazon like search bar */
.sbx-amazon {
    display: inline-block;
    position: relative;
    width: 600px;
    height: 39px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 14px;
  }

  .sbx-amazon__wrapper {
    width: 100%;
    height: 100%;
  }

  .sbx-amazon__input {
    display: inline-block;
    -webkit-transition: box-shadow .4s ease, background .4s ease;
    transition: box-shadow .4s ease, background .4s ease;
    border: 0;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #FFFFFF;
    background: #FFFFFF;
    padding: 0;
    padding-right: 75px;
    padding-left: 11px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }

  .sbx-amazon__input::-webkit-search-decoration, .sbx-amazon__input::-webkit-search-cancel-button, .sbx-amazon__input::-webkit-search-results-button, .sbx-amazon__input::-webkit-search-results-decoration {
    display: none;
  }

  .sbx-amazon__input:hover {
    box-shadow: inset 0 0 0 1px #e6e6e6;
  }

  .sbx-amazon__input:focus, .sbx-amazon__input:active {
    outline: 0;
    box-shadow: inset 0 0 0 1px #FFBF58;
    background: #FFFFFF;
  }

  .sbx-amazon__input::-webkit-input-placeholder {
    color: #AAAAAA;
  }

  .sbx-amazon__input::-moz-placeholder {
    color: #AAAAAA;
  }

  .sbx-amazon__input:-ms-input-placeholder {
    color: #AAAAAA;
  }

  .sbx-amazon__input::placeholder {
    color: #AAAAAA;
  }

  .sbx-amazon__submit {
    position: absolute;
    top: 0;
    right: 0;
    left: inherit;
    margin: 0;
    border: 0;
    border-radius: 0 3px 3px 0;
    background-color: #ffbf58;
    /* background-color: #639FAB; */
    padding: 0;
    width: 47px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .sbx-amazon__submit::before {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    vertical-align: middle;
    content: '';
  }

  .sbx-amazon__submit:hover, .sbx-amazon__submit:active {
    cursor: pointer;
  }

  .sbx-amazon__submit:focus {
    outline: 0;
  }

  .sbx-amazon__submit svg {
    width: 21px;
    height: 21px;
    vertical-align: middle;
    fill: #202F40;
  }

  .sbx-amazon__reset {
    display: none;
    position: absolute;
    top: 9px;
    right: 54px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    fill: rgba(0, 0, 0, 0.5);
  }

  .sbx-amazon__reset:focus {
    outline: 0;
  }

  .sbx-amazon__reset svg {
    display: block;
    margin: 4px;
    width: 13px;
    height: 13px;
  }

  .sbx-amazon__input:valid ~ .sbx-amazon__reset {
    display: block;
    -webkit-animation-name: sbx-reset-in;
            animation-name: sbx-reset-in;
    -webkit-animation-duration: .15s;
            animation-duration: .15s;
  }

  @-webkit-keyframes sbx-reset-in {
    0% {
      -webkit-transform: translate3d(-20%, 0, 0);
              transform: translate3d(-20%, 0, 0);
      opacity: 0;
    }
    100% {
      -webkit-transform: none;
              transform: none;
      opacity: 1;
    }
  }

  @keyframes sbx-reset-in {
    0% {
      -webkit-transform: translate3d(-20%, 0, 0);
              transform: translate3d(-20%, 0, 0);
      opacity: 0;
    }
    100% {
      -webkit-transform: none;
              transform: none;
      opacity: 1;
    }
  }

/* End amazon like search bar */


/* Language: css */
